/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

div{
    border: 1px solid transparent;
  }

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

.picture{
    width: 100%;
    height: auto;
}

 
.nav-section{
    width: 100%;
    height: auto;
    position: fixed;
    background-color: transparent;
    top: 0;
}

h1{
    font-size: 4em;
}


.welcome-text{    
    margin: 0rem 2rem;
    padding: 2.5rem 0rem; 
}

.welcome-text p{
    font-size: 2.5em;
    padding: 1.5rem 0rem;
}


@media only screen and (max-width: 768px){

    .menu{
        display:none;
    }

    .logo{
        display:flex;
        flex-shrink: 0;
        width: 20vh;
        height: auto;
    }
    
    .logo-icon{
        display: flex;
        margin: 0px 5px;
        align-items: center;
        justify-content: space-between;
        font-size: 1.2rem;
        background:transparent;
        flex-grow: 1;
    }

    .secundaria{
        width: 60%;
        margin: 50px 0  0 15%;
    }